*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/NetBeansProjects/ProgramacaoII/dist/
/NetBeansProjects/ParImpar/nbproject/private/
/NetBeansProjects/ParImpar/build/
/NetBeansProjects/Java_WEB/nbproject/private/
/NetBeansProjects/Java_WEB/build/
